
<div class="pane">
	<ion-content class="padding text-center">

	<div class="row">
		<div class="col">
			<button class="button button-full button-balanced" ng-click="listDevices()">Csatlakozz!</button>
		</div>
	</div>

	<div class="row">
		<div class="col col-center">
			<button class="button button-large ion-ios-lightbulb button-dark switchBtn" ng-click="sendOn($index)"></button>
		</div>
	</div>
			<!-- <button class="button button-large ion-ios-lightbulb-outline button-dark turnOff" style="font-size: 50px" ng-click="sendOff($index)"></button> -->
		
		<!-- 98:D3:31:40:30:BA -->
	</ion-content>
</div>